<WEBOBJECT NAME="SectionContainer">
	<WEBOBJECT NAME="MemberExpansion">
		<div class="contents">
			<WEBOBJECT NAME="IsMeCheck">
				<WEBOBJECT NAME="NoDesiresCheck">
					<h1>You need to add some wishes so your secret pal knows what to get you!</h1>
					<p>
					You can add wishes for specific items ("an iPod", "Harry Potter Book 5"), or just add wishes for types of things you like ("candy bars", "things that are blue", "stuff about turtles").
					</p>

					<p>
					When you buy something for your secret pal, you can press the <WEBOBJECT NAME="BuyImage"></WEBOBJECT> button to mark it off. Don't worry, your Secret Pal can't see that.
					</p>

					<p>
					If you have ideas for the secret pals of your friends, go add suggestions under their name. Your friends can't see suggestions from other people, so help surprise them!
					</p>
				</WEBOBJECT>
				<WEBOBJECT NAME="HasDesiresCheck">
					<WEBOBJECT NAME="WishListForMe"></WEBOBJECT>
				</WEBOBJECT>
			</WEBOBJECT>
			<WEBOBJECT NAME="NotMeCheck">
				<WEBOBJECT NAME="WishListForOther"></WEBOBJECT>
			</WEBOBJECT>

			<WEBOBJECT NAME="IsNotMeCheck">
				<WEBOBJECT NAME="SuggestionsList"></WEBOBJECT>
			</WEBOBJECT>

			<WEBOBJECT NAME="SuggestionForm">
				<WEBOBJECT NAME="AddSuggestionButton"></WEBOBJECT>
				<WEBOBJECT NAME="SuggestionTextField"></WEBOBJECT>
				<WEBOBJECT NAME="IsMeCheck2">
					<WEBOBJECT NAME="WishForButton"></WEBOBJECT>
				</WEBOBJECT>
				<WEBOBJECT NAME="IsNotMeCheck2">
					<WEBOBJECT NAME="SuggestButton"></WEBOBJECT>
				</WEBOBJECT>
			</WEBOBJECT>
		</div>
	</WEBOBJECT>
</WEBOBJECT>