<WEBOBJECT NAME="PageWrapperComponent">
	<WEBOBJECT NAME="BreadcrumbTemplate">
		<li><WEBOBJECT NAME="HomeLink">Home</WEBOBJECT></li>
	</WEBOBJECT>

	<div class="separatorSections">
		<div class="section">
			<WEBOBJECT NAME="GroupDescriptionCheck">
				<p><WEBOBJECT NAME="GroupDescriptionString"></WEBOBJECT></p>
			</WEBOBJECT>
			<p>
			All the events in the <WEBOBJECT NAME="GroupNameString"></WEBOBJECT> group are listed below. Select one to see your secret pals.
			</p>
		</div>

		<WEBOBJECT NAME="EventsLoop">
			<div class="section">
				<WEBOBJECT NAME="EventLink"><WEBOBJECT NAME="EventNameString"></WEBOBJECT></WEBOBJECT>
				<WEBOBJECT NAME="EventDescriptionCheck">
					<p><WEBOBJECT NAME="EventDescriptionString"></WEBOBJECT></p>
				</WEBOBJECT>
			</div>
		</WEBOBJECT>

		<WEBOBJECT NAME="CanEditCheck">
			<div class="section callout">
				Since you own this group, you can <WEBOBJECT NAME="GroupEditLink">edit</WEBOBJECT> it.
				You can also <WEBOBJECT NAME="NewEventLink">make a new event</WEBOBJECT>.
			</div>
		</WEBOBJECT>
	</div>
</WEBOBJECT>