<WEBOBJECT NAME="PageWrapperComponent">
	<div class="panel">
		<div class="title">Accept Your Invitation to <WEBOBJECT NAME="GroupNameString"></WEBOBJECT></div>

		<div class="contents">
			<WEBOBJECT NAME="AcceptForm">
				<WEBOBJECT NAME="NoNameCheck">
					<div class="row">
						<span class="label">Your Name</span>
						<WEBOBJECT NAME="NameField"></WEBOBJECT>
					</div>

					<div class="row">
						<span class="label">&nbsp;</span>
						<p class="unimportant">
							You can use your full name here. For example: "John Smith" or "Mary Smith"
						</p>
					</div>
				</WEBOBJECT>

				<WEBOBJECT NAME="NoPasswordCheck">
					<div class="row">
						<span class="label">Password</span>
						<WEBOBJECT NAME="PasswordField"></WEBOBJECT>
					</div>

					<div class="row">
						<span class="label">Confirm</span>
						<WEBOBJECT NAME="ConfirmPasswordField"></WEBOBJECT>
					</div>
				</WEBOBJECT>

				<div class="row">
					<WEBOBJECT NAME="AcceptButton"></WEBOBJECT>
					<WEBOBJECT NAME="DeclineButton"></WEBOBJECT>
				</div>
			</WEBOBJECT>
		</div>
	</div>
</WEBOBJECT>