<WEBOBJECT NAME="PageWrapperComponent">
	<WEBOBJECT NAME="BreadcrumbTemplate">
		<li><WEBOBJECT NAME="HomeLink">Home</WEBOBJECT></li>
	</WEBOBJECT>

	<div class="panel">
		<div class="title">
			<WEBOBJECT NAME="IsNewGroupCheck">Make a New Group</WEBOBJECT>
			<WEBOBJECT NAME="IsExistingGroupCheck"><WEBOBJECT NAME="GroupNameString"></WEBOBJECT></WEBOBJECT>
		</div>

		<div class="contents">
			<WEBOBJECT NAME="GroupForm">
				<div class="row">
					<span class="label">Group Name</span>
					<WEBOBJECT NAME="GroupNameField"></WEBOBJECT>
				</div>

				<div class="row">
					<span class="label">Description</span>
					<WEBOBJECT NAME="GroupDescriptionField"></WEBOBJECT>
				</div>

				<!--
				<div class="row">
					<span class="label">Join Code</span>
					<wo:textfield value="$group.groupPassword"/>
					<div class="explanation">a join code is a code you can give out to your friends so they can join your group</div>
				</div>
				-->

				<div class="row">
					<WEBOBJECT NAME="AddGroupButton"></WEBOBJECT> or <WEBOBJECT NAME="CancelLink">cancel</WEBOBJECT>
				</div>
			</WEBOBJECT>
		</div>
	</div>
</WEBOBJECT>