<WEBOBJECT NAME="PageWrapperComponent">
	<div class="panel">
		<div class="title">Change Your Password</div>

		<div class="contents">
			<WEBOBJECT NAME="PasswordForm">
				<WEBOBJECT NAME="NotConfirmedCheck">
					<div class="row">
						<span class="label">Your Name</span>
						<WEBOBJECT NAME="NameField"></WEBOBJECT>
					</div>
				</WEBOBJECT>

				<div class="row">
					<span class="label">Password</span>
					<WEBOBJECT NAME="PasswordField"></WEBOBJECT>
				</div>

				<div class="row">
					<span class="label">Confirm</span>
					<WEBOBJECT NAME="ConfirmPasswordField"></WEBOBJECT>
				</div>

				<div class="row">
					<WEBOBJECT NAME="ResetPasswordButton"></WEBOBJECT> or <WEBOBJECT NAME="CancelLink">cancel</WEBOBJECT>
				</div>
			</WEBOBJECT>
		</div>
	</div>
</WEBOBJECT>