<WEBOBJECT NAME="PageWrapperComponent">
	<WEBOBJECT NAME="BreadcrumbTemplate">
		<li><WEBOBJECT NAME="HomeLink">Home</WEBOBJECT></li>
	</WEBOBJECT>

	<div class="panel">
		<div class="title">Edit Group</div>

		<div class="contents">
			<WEBOBJECT NAME="EditForm">
				<div class="row">
					<span class="label">Group Name</span>
					<WEBOBJECT NAME="GroupNameField"></WEBOBJECT>
				</div>

				<div class="row">
					<span class="label">Description</span>
					<WEBOBJECT NAME="GroupDescriptionField"></WEBOBJECT>
				</div>

				<!--
				<div class="row">
					<span class="label">Join Code</span>
					<wo:textfield value="$group.groupPassword"/>
					<div class="explanation">a join code is a code you can give out to your friends so they can join your group</div>
				</div>
				-->

				<div class="row">
					<WEBOBJECT NAME="SaveGroupButton"></WEBOBJECT>
				</div>
			</WEBOBJECT>
		</div>
	</div>

	<div class="panel" style="margin-top: 2em">
		<div class="title">
			Events
		</div>
		<div class="contents">
			<table>
			<WEBOBJECT NAME="EventsLoop">
				<tr>
					<td class="status">
						<WEBOBJECT NAME="HasSecretPalsCheck"><WEBOBJECT NAME="OkImage"></WEBOBJECT></WEBOBJECT>
						<WEBOBJECT NAME="NoSecretPalsCheck"><WEBOBJECT NAME="WarnImage"></WEBOBJECT></WEBOBJECT>
					</td>
					<td>
						<WEBOBJECT NAME="EventEditLink"><WEBOBJECT NAME="EventNameString"></WEBOBJECT></WEBOBJECT>
					</td>
				</tr>
			</WEBOBJECT>
			</table>
			<p>
			Do you want to <WEBOBJECT NAME="NewEventLink">add a new event</WEBOBJECT>?
			</p>
		</div>
	</div>

	<div class="panel" style="margin-top: 2em">
		<div class="title">
			Members
		</div>
		<div class="contents">
			<table>
			<WEBOBJECT NAME="MembershipsLoop">
				<tr>
					<td class="actions">
						<WEBOBJECT NAME="CanDeleteMembershipCheck"><WEBOBJECT NAME="DeleteMembershipLink"><WEBOBJECT NAME="DeleteButtonImage"></WEBOBJECT></WEBOBJECT></WEBOBJECT>
						<WEBOBJECT NAME="CannotDeleteMembershipCheck"><WEBOBJECT NAME="DeleteButtonDisabledImage"></WEBOBJECT></WEBOBJECT>
					</td>
					<td class="status">
						<WEBOBJECT NAME="StatusImage"></WEBOBJECT>
					</td>
					<td>
						<WEBOBJECT NAME="MembershipPersonNameString"></WEBOBJECT>
						<WEBOBJECT NAME="NotConfirmedCheck">
						 (<WEBOBJECT NAME="ResendInvitationLink">resend invitation</WEBOBJECT><WEBOBJECT NAME="HasConfirmationCodeCheck">, <WEBOBJECT NAME="ConfirmationLink">confirmation link</WEBOBJECT></WEBOBJECT>)
						</WEBOBJECT>
					</td>
				</tr>
			</WEBOBJECT>
			</table>

			<p>
				To invite new people to your group, just list their emails below.
				<WEBOBJECT NAME="InviteForm">
					<WEBOBJECT NAME="InviteEmailAddressesField"></WEBOBJECT>
					<br/>
					<WEBOBJECT NAME="SendInvitesButton"></WEBOBJECT>
				</WEBOBJECT>
			</p>
		</div>
	</div>

	<div class="separatorSections advanced" style="margin-top: 2em">
		<div class="section">
			<WEBOBJECT NAME="DeleteExpansion">
				<div class="contents">
					<p style="margin-top: 1em">
						Deleting a group will delete all the events and memberships associated with it. This can not be undone.
					</p>
					<p>
						<WEBOBJECT NAME="DeleteGroupLink">
							<WEBOBJECT NAME="DeleteGroupImage"></WEBOBJECT> Delete this group!
						</WEBOBJECT>
					</p>
				</div>
			</WEBOBJECT>
		</div>
	</div>
</WEBOBJECT>