<WEBOBJECT NAME="IsIECheck"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"></WEBOBJECT>
<WEBOBJECT NAME="IsNotIECheck"><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN"></WEBOBJECT>
<html>
	<head>
		<title>SecretPal | <WEBOBJECT NAME="TitleString"></WEBOBJECT></title>
		<WEBOBJECT NAME="D2WCSSReference"></WEBOBJECT>
		<WEBOBJECT NAME="AppStyleSheet"></WEBOBJECT>
	</head>
	<body>

	<div class="<webobject name=something></webobject>">
	</div>

	<div class="page">
		<div class="top">
			<div class="header">
				<WEBOBJECT NAME="HasCurrentPersonCheck"><h3><WEBOBJECT NAME="LogoutLink">logout</WEBOBJECT></h3></WEBOBJECT>
				<h1>
				<WEBOBJECT NAME="HasCurrentPersonCheck2"><WEBOBJECT NAME="HomeLink">SecretPal</WEBOBJECT></WEBOBJECT>
				<WEBOBJECT NAME="NoCurrentPersonCheck">SecretPal</WEBOBJECT>
				</h1>
			</div>

			<WEBOBJECT NAME="ShowBreadcrumbCheck">
				<div class="breadcrumb">
					<ol>
					<WEBOBJECT NAME="BreadcrumbContent"></WEBOBJECT>
					<WEBOBJECT NAME="HasTitleCheck">
						<li class="separator"></li>
						<li><WEBOBJECT NAME="TitleString2"></WEBOBJECT></li>
					</WEBOBJECT>
					&nbsp;
					</ol>
				</div>
			</WEBOBJECT>

			<WEBOBJECT NAME="NoticesContainer">
				<WEBOBJECT NAME="ErrorNotices"></WEBOBJECT>
				<WEBOBJECT NAME="NotificationNotices"></WEBOBJECT>
			</WEBOBJECT>
		</div>

		<div class="body">
			<WEBOBJECT NAME="MainContent"></WEBOBJECT>
			<WEBOBJECT NAME="ToolBar"></WEBOBJECT>
			<WEBOBJECT NAME="D2WStyleSheetInjector"></WEBOBJECT>
		</div>
	</div>

	</body>
</html>