<WEBOBJECT NAME="SPWishListContainer">
	<WEBOBJECT NAME="HasItemsCheck">
		<h3><WEBOBJECT NAME="ItemNameString"></WEBOBJECT></h3>
		<table>
		<WEBOBJECT NAME="WishesLoop">
			<WEBOBJECT NAME="ShowPurchasedCheck">
				<tr class="purchased">
					<td class="actions">
						<WEBOBJECT NAME="CanDeleteCheck"><WEBOBJECT NAME="DeleteWishLink"><WEBOBJECT NAME="DeleteImage"></WEBOBJECT></WEBOBJECT></WEBOBJECT>
						<WEBOBJECT NAME="CannotDeleteCheck"><WEBOBJECT NAME="DeleteDisabledImage"></WEBOBJECT></WEBOBJECT>
						<WEBOBJECT NAME="UnbuyLink"><WEBOBJECT NAME="UnbuyImage"></WEBOBJECT></WEBOBJECT>
					</td>
					<td class="item"><WEBOBJECT NAME="NotDesireCheck"><WEBOBJECT NAME="SuggestedByString"></WEBOBJECT> suggests </WEBOBJECT><WEBOBJECT NAME="DescriptionString"></WEBOBJECT></td>
				</tr>
			</WEBOBJECT>
			<WEBOBJECT NAME="NotShowPurchasedCheck">
				<tr>
					<td class="actions">
						<WEBOBJECT NAME="CanDeleteCheck2"><WEBOBJECT NAME="DeleteWishLink2"><WEBOBJECT NAME="DeleteImage2"></WEBOBJECT></WEBOBJECT></WEBOBJECT>
						<WEBOBJECT NAME="CannotDeleteCheck2"><WEBOBJECT NAME="DeleteDisabledImage2"></WEBOBJECT></WEBOBJECT>
						<WEBOBJECT NAME="NotMeCheck"><WEBOBJECT NAME="BuyLink"><WEBOBJECT NAME="BuyImage"></WEBOBJECT></WEBOBJECT></WEBOBJECT>
					</td>
					<td class="item"><WEBOBJECT NAME="NotDesireCheck2"><WEBOBJECT NAME="SuggestedByString2"></WEBOBJECT> suggests </WEBOBJECT><WEBOBJECT NAME="DescriptionString2"></WEBOBJECT></td>
				</tr>
			</WEBOBJECT>
		</WEBOBJECT>
		</table>
	</WEBOBJECT>
	<WEBOBJECT NAME="NoItemsCheck">
		<h3>No <WEBOBJECT NAME="ItemNameString2"></WEBOBJECT></h3>
	</WEBOBJECT>
</WEBOBJECT>