<WEBOBJECT NAME="PageWrapperComponent">
	<div class="panel">
		<div class="title">Profile</div>

		<div class="contents">
			<WEBOBJECT NAME="ProfileForm">
				<div class="row">
					<span class="label">Your Name</span>
					<WEBOBJECT NAME="NameField"></WEBOBJECT>
				</div>

				<div class="row">
					<span class="label">Your Email</span>
					<WEBOBJECT NAME="EmailField"></WEBOBJECT>
				</div>

				<div class="row">
					<span class="label">Old Password</span>
					<WEBOBJECT NAME="CurrentPasswordField"></WEBOBJECT>
				</div>

				<div class="row">
					<span class="label">New Password</span>
					<WEBOBJECT NAME="PasswordField"></WEBOBJECT>
				</div>

				<div class="row">
					<span class="label">Confirm</span>
					<WEBOBJECT NAME="ConfirmPasswordField"></WEBOBJECT>
				</div>

				<div class="row">
					<WEBOBJECT NAME="UpdateProfileButton"></WEBOBJECT> or <WEBOBJECT NAME="CancelLink">cancel</WEBOBJECT>
				</div>
			</WEBOBJECT>
		</div>
	</div>
</WEBOBJECT>